.popover {
    text-align: center;
    .tooltip-footer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        flex-wrap: nowrap;
        background-color: var(--bs-popover-header-bg, white);
        padding: var(--bs-popover-header-padding-y, 1rem) var(--bs-popover-header-padding-x, 0.5rem);
        margin: calc(var(--bs-popover-body-padding-y, 1rem)*-1) calc(var(--bs-popover-body-padding-x, 1rem)*-1);
        margin-top: 0;
        .tooltip-button {
            margin-right: 1rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}